<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicData" version="6.7.1.2534" targetFramework="net461" />
  <package id="EventStore.Client" version="3.9.5" targetFramework="net461" />
  <package id="EventStore.Client.Embedded" version="3.9.5" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="ReactiveDomain.Core" version="0.8.17" targetFramework="net461" />
  <package id="ReactiveDomain.Foundation" version="0.8.17" targetFramework="net461" />
  <package id="ReactiveDomain.Messaging" version="0.8.17" targetFramework="net461" />
  <package id="ReactiveDomain.Persistence" version="0.8.17" targetFramework="net461" />
  <package id="ReactiveUI" version="9.10.1" targetFramework="net461" />
  <package id="ReactiveUI.WPF" version="9.10.1" targetFramework="net461" />
  <package id="Splat" version="6.1.7" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>